---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { sortCollection } from "src/utils/sortCollection";
import ReviewScore from "./ReviewScore.astro";
import { Image } from "astro:assets";
import arrowRight from "@assets/mutantEmoji/utility/arrow_right.png";
import InlineEmoji from "@components/ImageComponents/InlineEmoji.astro";
import { sliceByWord } from "src/utils/stringFormatters.ts";

interface Props {
  sort?: { field: "rating" | "date" | "favorites"; desc: boolean };
}

const { sort = { field: "date", desc: true } } = Astro.props;

const starMd = "<span>★</span>";
const reviews: Array<CollectionEntry<"coffeeShopReviews">> = await getCollection("coffeeShopReviews");
const reviewsFilter = reviews.filter((review) => !review.data.scoreOnly);
const reviewsSorted = (): Array<CollectionEntry<"coffeeShopReviews">> => {
  if (sort.field !== "favorites") {
    return sort.desc ? sortCollection(reviewsFilter, sort.field) : sortCollection(reviewsFilter, sort.field).toReversed();
  } else {
    return reviewsFilter.filter((review) => review.data.favorite);
  }
};
---

<ul class="flex flex-col lg:grid grid-cols-2 gap-4">
  {
    reviewsSorted().map((collectionItem) => {
      const review = collectionItem.data;
      const url = `/cafe-reviews/${collectionItem.slug}`;

      return (
        <li class="p-4 border-2 border-yellow bg-boxPrimary flex text-slate-200 gap-2 ">
          <section class="flex flex-col justify-between">
            <div class="border-b mb-4">
              <a href={url}>
                <h2 class="text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl font-black text-yellow">
                  {review.favorite && <Fragment set:html={starMd} />}
                  {review.title}
                </h2>
              </a>
              <h3 class="italic flex justify-between">
                <>
                  <span>{review.location}</span>
                  <span>{review.date.toLocaleDateString("en-US", { day: "numeric", month: "short", year: "numeric", timeZone: "UTC" })}</span>
                </>
              </h3>
            </div>
            <div class="mb-4 sm:text-lg flex gap-2 items-center h-full">
              <div class="flex flex-col justify-end col-span-2 flex-3/4 md:text-xl pr-1 shrink h-full">
                <p class="pb-2 line-clamp-5 grow self-start">{review.summary.length > 200 ? sliceByWord(review.summary, 200) : review.summary}</p>
                <div class="block sm:hidden py-2 border-t lg:block xl:hidden">
                  <ReviewScore cafeData={review} compact={false} legend={false} />
                </div>
                <p class="pt-2 border-t">
                  <strong>Order Suggestion: </strong>
                  {review.orderSuggestion}
                </p>
              </div>
              <div class="pl-2 border-l hidden sm:block lg:hidden xl:block">
                <ReviewScore cafeData={review} compact={true} legend={false} />
              </div>
            </div>
            <div class="flex flex-col gap-2">
              {review.headerImg && <Image src={review.headerImg} alt={`${review.title} image`} class="object-cover aspect-square" />}
              <a class="border-b-2 border-yellow w-fit ml-auto hover:text-amber-500 md:text-lg" href={url}>
                Full Review <InlineEmoji emoji={arrowRight} styles="w-4" />
              </a>
            </div>
          </section>
        </li>
      );
    })
  }
</ul>
