---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import TagContents from "@components/TagContents.astro";
import writingEmoji from "@assets/mutantEmoji/hands/writing_hand_clw_y2.png";
import speechBubble from "@assets/mutantEmoji/speech_bubble.png";
import calendar from "@assets/mutantEmoji/calendar_spiral.png";
import thumbsDown from "@assets/mutantEmoji/hands/thumbs_down_clw_y2.png";
import thumbsUp from "@assets/mutantEmoji/hands/thumbs_up_clw_y2.png";
import { formatDate } from "src/utils/stringFormatters";
import ChiStarRating from "@components/ImageComponents/ChiStarRating.astro";

interface Props {
  book: CollectionEntry<"books">;
  view: string;
}

const {
  book: {
    slug,
    data: { title, author, summary, date, rating, cover, bookTags },
  },
  view = "default",
} = Astro.props;

const formattedDate = formatDate(date);

/**
 * Ideas:
 *
 * Sorting by rating or date
 * List or Gallery view
 */
---

{
  view === "default" && (
    <li class="p-5 bg-boxPrimary border-yellow border-4 text-slate-200 flex items-center min-h-52 relative">
      <aside class="xs:flex flex-col hidden justify-center h-full">
        <section class="flex h-40">
          <div id="dateSquareContainer" class="flex flex-col text-center text-slate-200 pr-3 mr-3 text-sm font-bold border-r border-slate-200">
            <span>{date.toLocaleDateString("en-US", { day: "numeric" })}</span>
            <span>{date.toLocaleDateString("en-US", { month: "short" })}</span>
            <Image src={calendar} alt={"Calendar emoji"} class={"w-6 aspect-square inline-block self-start mt-1"} />
          </div>
          <Image src={cover} alt={`${title} Book Cover Art`} class="w-[100px] my-auto" />
        </section>
        <section class="flex pt-2">
          <Image src={rating >= 3 ? thumbsUp : thumbsDown} alt={"Thumbs Up/Down Rating"} class={"w-6 aspect-square inline-block self-start mr-1 mb-1"} />
          <span class="flex gap-1">
            <ChiStarRating rating={rating} />
          </span>
        </section>
      </aside>
      <main class="ml-4 flex-[3_1_0] justify-between flex flex-col h-full gap-2">
        <h2>
          <a
            class="xs:text-3xl text-2xl hover:underline decoration-amber-400 decoration-2 cursor-pointer text-amber-300 visited:text-amber-600 visited:decoration-amber-600 font-medium text-wrap"
            href={`/books/${slug}`}
          >
            {title}
          </a>
        </h2>
        <div class="flex flex-col">
          <div class="gap-1 block xs:flex flex-wrap order-2 xs:order-1">
            <p class="text-base xs:text-lg italic grow xs:text-left flex">
              <>
                <Image src={writingEmoji} alt={"Writing emoji"} class={"w-7   inline-block self-start mr-1 mb-1 border-r  pr-1 "} />
                <span class="">{author}</span>
              </>
            </p>
          </div>
          <div class="flex-[0_1_0] max-w-32 xs:hidden block mx-auto order-1 xs:order-2 xs:my-0 my-2">
            <Image src={cover} alt={`${title} Book Cover Art`} />
          </div>
        </div>
        <hr class="" />

        <p class="text-base xs:text-xl">
          <Image src={speechBubble} alt={"Writing emoji"} class={"w-6 aspect-square inline-block self-start mr-1 mb-1"} />
          <span class="border-l pl-1">{summary}</span>
        </p>
        <p class="text-base xs:text-xl block xs:hidden">
          <Image src={calendar} alt={"Calendar emoji"} class={"w-6 aspect-square inline-block self-start mr-1 mb-1"} />
          <span class="border-l pl-1">{formattedDate}</span>
        </p>
        <div class="text-base xs:text-xl flex xs:hidden">
          <Image src={rating >= 3 ? thumbsUp : thumbsDown} alt={"Thumbs Up/Down Rating"} class={"w-6 aspect-square inline-block self-start mr-1 mb-1"} />
          <span class="border-l pl-1 flex gap-1">
            <ChiStarRating rating={rating} />
          </span>
        </div>
        <div class="flex">
          <TagContents pageUrl="/books/tagged/" inline={true} tagIds={bookTags.map((tag) => tag.id)} />
        </div>
      </main>
    </li>
  )
}

{
  view === "compact" && (
    <li class="p-2 pl-4 bg-boxPrimary border-yellow border-4 text-slate-200 flex items-center relative">
      <aside class="flex flex-col justify-center h-full">
        <section class="flex">
          <div id="dateSquareContainer" class="flex flex-col text-center text-slate-200 mr-0 pr-3 xs:mr-3 text-sm font-bold border-r border-slate-200">
            <span>{date.toLocaleDateString("en-US", { day: "numeric" })}</span>
            <span>{date.toLocaleDateString("en-US", { month: "short" })}</span>
          </div>
        </section>
      </aside>
      <main class="ml-4 flex-[3_1_0] flex flex-col h-full">
        <h2>
          <a
            class="text-lg xs:text-2xl hover:underline decoration-amber-400 decoration-2 cursor-pointer text-amber-300 visited:text-amber-600 visited:decoration-amber-600 font-medium text-wrap"
            href={`/books/${slug}`}
          >
            {title}
          </a>
        </h2>
        <div class="flex flex-col">
          <div class="gap-1 block xs:flex flex-wrap">
            <p class="text-sm xs:text-base italic grow xs:text-left flex">
              <span class="">{author}</span>
            </p>
          </div>
          <section class="">
            <div class="flex gap-1 w-24">
              <ChiStarRating rating={rating} />
            </div>
            <div class="min-w-10 grow" />
          </section>
        </div>
        <div class="flex text-sm xs:text-base">
          <TagContents pageUrl="/books/tagged/" inline={true} tagIds={bookTags.map((tag) => tag.id)} />
        </div>
      </main>
    </li>
  )
}
