---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import TagContents from "@components/TagContents.astro";
import { formatDate } from "src/utils/stringFormatters";
import ChiStarRating from "@components/ImageComponents/ChiStarRating.astro";

import writingEmoji from "@assets/mutantEmoji/hands/writing_hand_clw_y2.png";
import argentSmile from "@assets/mutantEmoji/argent/smile.png";
import calendar from "@assets/mutantEmoji/calendar_spiral.png";
import thumbsDown from "@assets/mutantEmoji/hands/thumbs_down_clw_y2.png";
import thumbsUp from "@assets/mutantEmoji/hands/thumbs_up_clw_y2.png";

interface Props {
  book: CollectionEntry<"books">;
  view: string;
}

const {
  book: {
    slug,
    data: { title, author, summary, date, rating, cover, bookTags },
  },
  view = "default",
} = Astro.props;

const formattedDate = formatDate(date);
---

{
  view === "default" && (
    <li class="p-5 bg-boxPrimary border-yellow border-4 text-slate-200 flex items-center min-h-52 relative">
      <aside class="sm:flex flex-col hidden justify-center h-full">
        <section class="flex">
          <div id="dateSquareContainer" class="flex flex-col text-center text-slate-200 pr-3 mr-3 text-lg font-bold border-r border-slate-200">
            <span>{date.toLocaleDateString("en-US", { day: "numeric", timeZone: "UTC" })}</span>
            <span>{date.toLocaleDateString("en-US", { month: "short", timeZone: "UTC" })}</span>
            <Image src={calendar} alt={"Calendar emoji"} class={"w-10 aspect-square inline-block self-start mt-1"} />
          </div>
          <Image src={cover} alt={`${title} Book Cover Art`} class="w-54 my-auto shadow-2xl" />
        </section>
        <section class="grid grid-cols-7 pt-2 justify-center items-center">
          <span class="col-span-2">
            <Image src={rating >= 3 ? thumbsUp : thumbsDown} alt={"Thumbs Up/Down Rating"} class={"w-16 aspect-square inline-block self-start mr-1 mb-1"} />
          </span>
          <span class="flex gap-1 max-w-56 mt-4 col-span-5">
            <ChiStarRating rating={rating} maxWidth="max-w-10" />
          </span>
        </section>
      </aside>
      <main class="ml-4 flex-[3_1_0] justify-between flex flex-col h-full gap-2">
        <h2>
          <a
            class="sm:text-4xl text-3xl hover:underline decoration-amber-400 decoration-2 cursor-pointer text-amber-300 visited:text-amber-600 visited:decoration-amber-600 text-wrap font-extrabold"
            href={`/books/${slug}`}
          >
            {title}
          </a>
        </h2>
        <div class="flex flex-col">
          <div class="gap-1 block sm:flex flex-wrap order-2 sm:order-1">
            <p class="text-base sm:text-xl  italic grow sm:text-left flex items-center gap-2">
              <span class="border-r pr-2 flex-none">
                <Image src={writingEmoji} alt={"Writing emoji"} class={"w-10 sm:w-14 mb-1"} />
              </span>
              <span>{author}</span>
            </p>
          </div>
          <div class="flex-[0_1_0] max-w-64 sm:hidden block mx-auto order-1 sm:order-2 sm:my-0 my-2">
            <Image src={cover} alt={`${title} Book Cover Art`} class={"shadow-2xl"} />
          </div>
        </div>
        <hr />

        <p class="text-base sm:text-xl  flex items-center gap-2 ">
          <span class="border-r pr-2 flex-none">
            <Image src={argentSmile} alt={"Argent emoji"} class={"w-10 sm:w-14 mb-1"} />
          </span>
          <span>{summary}</span>
        </p>
        <p class="text-base sm:text-xl flex items-center gap-2 sm:hidden">
          <span class="border-r pr-2 flex-none">
            <Image src={calendar} alt={"Calendar emoji"} class={"w-10 mb-1"} />
          </span>
          <span>{formattedDate}</span>
        </p>
        <div class="text-base sm:text-xl flex sm:hidden items-center gap-2">
          <span class="border-r pr-2 flex-none">
            <Image src={rating >= 3 ? thumbsUp : thumbsDown} alt={"Thumbs Up/Down Rating"} class={"w-10 mb-1"} />
          </span>
          <span class="flex gap-1">
            <ChiStarRating rating={rating} />
          </span>
        </div>
        <div class="flex text-base sm:text-lg ">
          <TagContents pageUrl="/books/default/tagged/" inline={true} tagIds={bookTags.map((tag) => tag.id)} />
        </div>
      </main>
    </li>
  )
}

{
  view === "compact" && (
    <li class="p-2 pl-4 bg-boxPrimary border-yellow border-4 text-slate-200 flex items-center relative">
      <aside class="flex flex-col justify-center h-full">
        <section class="flex">
          <div id="dateSquareContainer" class="flex flex-col text-center text-slate-200 mr-0 pr-3 xs:mr-3 text-base font-bold border-r border-slate-200">
            <span>{date.toLocaleDateString("en-US", { day: "numeric", timeZone: "UTC" })}</span>
            <span>{date.toLocaleDateString("en-US", { month: "short", timeZone: "UTC" })}</span>
          </div>
        </section>
      </aside>
      <main class="ml-4 flex-[3_1_0] flex flex-col h-full">
        <h2>
          <a
            class="text-xl xs:text-3xl hover:underline decoration-amber-400 decoration-2 cursor-pointer text-amber-300 visited:text-amber-600 visited:decoration-amber-600 font-medium text-wrap"
            href={`/books/${slug}`}
          >
            {title}
          </a>
        </h2>
        <div class="flex flex-col">
          <div class="gap-1 block xs:flex flex-wrap">
            <p class="text-base xs:text-lg italic grow xs:text-left flex">
              <span>{author}</span>
            </p>
          </div>
          <section class="">
            <div class="flex gap-1 w-24 xs:w-36">
              <ChiStarRating rating={rating} />
            </div>
            <div class="min-w-10 grow" />
          </section>
        </div>
        <div class="flex text-base xs:text-lg">
          <TagContents pageUrl="/books/tagged/" inline={true} tagIds={bookTags.map((tag) => tag.id)} />
        </div>
      </main>
    </li>
  )
}

<style>
  h2 {
    font-family: "BigShoulders", sans-serif;
  }
</style>
