---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import TagContents from "@components/TagContents.astro";
import writingEmoji from "@assets/mutantEmoji/hands/writing_hand_clw_y2.png";
import { formatDate } from "src/utils/dateFormatter";
import ChiStarRating from "@components/ImageComponents/ChiStarRating.astro";

interface Props {
  book: CollectionEntry<"books">;
}

const {
  book: {
    slug,
    data: { title, author, summary, date, rating, cover, bookTags, publishDate },
  },
} = Astro.props;

const formattedDate = formatDate(date);

const hasHalfStar = rating % 1 !== 0;
const emptyCalc = 4 - Math.floor(rating);

/**
 * Ideas:
 *
 * Sorting by rating or date
 * List or Gallery view
 */
---

<li class="p-5 bg-boxPrimary border-yellow border-4 text-slate-200 flex items-center min-h-48 text-center sm:text-left">
  <div class="flex-[0_1_0] max-h-40 sm:flex hidden">
    <div id="dateSquareContainer" class="flex flex-col text-center text-slate-200 pr-3 mr-3 text-sm font-bold border-r border-slate-200">
      <span>{date.toLocaleDateString("en-US", { day: "numeric" })}</span>
      <span>{date.toLocaleDateString("en-US", { month: "short" })}</span>
    </div>
    <Image src={cover} alt={`${title} Book Cover Art`} class="min-w-[100px]" />
  </div>
  <div class="ml-2 pl-4 flex-[3_1_0]">
    <h2>
      <a
        class="text-3xl hover:underline decoration-amber-400 decoration-2 cursor-pointer text-amber-300 visited:text-amber-600 visited:decoration-amber-600 font-medium text-wrap"
        href={`/books/${slug}`}
      >
        {title}
      </a>
    </h2>
    <div class="gap-1 block sm:flex flex-wrap">
      <Image src={writingEmoji} alt={"Writing emoji"} class={"w-6 aspect-square sm:inline-block self-start hidden"} />
      <p class="text-lg italic grow">{author}</p>
    </div>
    <div class="flex-[0_1_0] max-w-32 sm:hidden block mx-auto">
      <Image src={cover} alt={`${title} Book Cover Art`} />
    </div>
    <hr class="sm:my-2 my-0 mb-2 mt-3" />
    <div class="text-4xl flex gap-1 w-full justify-center sm:justify-normal">
      <ChiStarRating rating={rating} />
    </div>
    <p class="text-xl">{summary}</p>
    <p class="text-sm sm:hidden block">Read: {formattedDate}</p>
    <div class="flex justify-center sm:justify-normal">
      <TagContents pageUrl="/books/tagged/" inline={true} tagIds={bookTags.map((tag) => tag.id)} />
    </div>
  </div>
</li>
