---
import type { CollectionEntry } from "astro:content";
import { CommentForm } from "./CommentForm";
import { formatDate, formatTime } from "src/utils/stringFormatters";
// import markdownit from 'markdown-it';

import Wrex from "@assets/Wrex.png";
import ChiStar from "@components/ImageComponents/ChiStar.astro";
import InlineEmoji from "@components/ImageComponents/InlineEmoji.astro";
import questionMark from "@assets/mutantEmoji/utility/gray_question_mark.png";
import sparkle from "@assets/mutantEmoji/sparkles.png";
import InlineArgentEmoji from "@components/ImageComponents/InlineArgentEmoji.astro";
import woozy from "@assets/mutantEmoji/expressions/woozy.png";
import dragon from "@assets/mutantEmoji/western_dragon.png";

/**
 * Credit for Netlify forms comments goes to Emily Goto:
 * @link https://www.emgoto.com/astro-blog-comments/
 */

interface Props {
  comments: CollectionEntry<"comments">["data"]["comments"] | [];
  pageUrl: string;
}

const { comments, pageUrl } = Astro.props;

const getBskyImg = async (bsky: string | null): Promise<string> => {
  if (!bsky) return "";
  const bskyApiData = await fetch(`https://public.api.bsky.app/xrpc/app.bsky.actor.getProfile?actor=${bsky}`);

  if (!bskyApiData.ok) {
    console.error("API fetch failed");
    return "";
  }
  const bskyData = await bskyApiData.json();
  return bskyData.avatar;
};
// const md = markdownit();
---

<div class="md:py-8 md:px-20">
  <div class="flex items-center gap-2">
    <p class="not-prose text-3xl text-white mb-2">Comments</p>
    <button
      class="toggle-comments-exp hover:cursor-pointer hover:text-white hover:bg-gray-300 aspect-square p-0.5 rounded-full border-gray-400 border inline-flex shrink mb-1"
      ><InlineEmoji emoji={questionMark} styles="w-2.5 sm:w-4" /></button
    >
  </div>
  <div class="comments-exp overflow-y-hidden transition-all duration-1000 ease-in-out max-h-0 opacity-0 text-xs sm:text-base">
    <p class="text-2xl">How the Comments Work:</p>
    <ul class="list-none">
      <li>
        <InlineEmoji emoji={sparkle} /> This comment system is custom built–loosely following <a href="https://www.emgoto.com/astro-blog-comments/"
          >Emily Goto's</a
        > example on her blog.
      </li>
      <li>
        <InlineArgentEmoji emoji="smile" /> This is a static site, so comments are added manually by me
      </li>
      <li>
        <InlineEmoji emoji={woozy} /> I ask for a Bsky account because I'm lazily using their API to fetch avatar images from there (instead of using Gravatar, for
        instance)
      </li>
      <li><InlineEmoji emoji={dragon} /> If you do not provide a Bsky account, your comment will have a picture of Wrex instead</li>
    </ul>
  </div>
  {
    comments.length > 0 ? (
      <div class="pb-4 mb-4 border-yellow border-b-2 flex flex-col gap-4">
        {comments
          .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf())
          .map(async (comment) => {
            const bskyAvi = await getBskyImg(comment.bsky);
            const avi = bskyAvi ? bskyAvi : Wrex.src;
            return (
              <div class="text-slate-200 text-xl flex gap-4 bg-[#460809] p-4 rounded-md" id={`comment-${comment.id}`}>
                {bskyAvi ? (
                  <a href={`https://bsky.app/profile/${comment.bsky}`}>
                    <img
                      src={avi}
                      alt=""
                      class="object-cover self-center  rounded-full aspect-square flex min-w-16 w-16 hover:scale-[1.15] transition duration-300 not-prose"
                    />
                  </a>
                ) : (
                  <div>
                    <img src={Wrex.src} alt="Wrex!" class="object-cover self-center  rounded-full aspect-square flex min-w-16 w-16 not-prose" />
                  </div>
                )}
                <div class="flex flex-col gap-1">
                  <span class="flex gap-1 items-center flex-wrap">
                    {comment.url ? (
                      <a href={comment.url} class="text-yellow font-semibold decoration-yellow hover:underline decoration-2">
                        {comment.name}
                      </a>
                    ) : (
                      <span class="text-white">{comment.name}</span>
                    )}
                    <span class="text-slate-200/80 text-base self-center">
                      <ChiStar />
                    </span>
                    <a href={`${pageUrl}#comment-${comment.id}`} class="text-slate-200/80 hover:underline hover:cursor-pointer text-base flex gap-1">
                      <span>{formatDate(comment.date)}</span>
                      <span>&bull;</span>
                      <span>{formatTime(comment.date)}</span>
                    </a>
                  </span>
                  <p set:html={comment.text} />
                </div>
              </div>
            );
          })}
      </div>
    ) : (
      <p class="pb-4 mb-4 border-yellow border-b-2">No comments yet!</p>
    )
  }
  <CommentForm client:idle />
</div>

<script>
  function setToggleCommentsExp() {
    const legendText = document.querySelectorAll(".comments-exp");
    const legendButton = document.querySelector(".toggle-comments-exp");
    legendButton?.addEventListener("click", () => {
      legendText.forEach((legend) => {
        if (legend.classList.contains("max-h-0")) {
          legend.classList.remove("max-h-0", "opacity-0");
          legend.classList.add("max-h-96", "opacity-100", "mb-2");
          legend.ariaHidden = "false";
        } else {
          legend.classList.add("max-h-0", "opacity-0");
          legend.classList.remove("max-h-96", "opacity-100", "mb-2");
          legend.ariaHidden = "true";
        }
      });
    });
  }
  setToggleCommentsExp();
  document.addEventListener("astro:after-swap", setToggleCommentsExp);
</script>
