---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import TopNav from "../components/TopNav.astro";
import type { MarkdownHeading } from "astro";
import TableOfContents from "../components/TableOfContents.astro";
import TagContents from "../components/TagContents.astro";
import { formatDate } from "src/utils/stringFormatters";
import BlogStyleMain from "@components/Snippets/BlogStyleMain.astro";
import ChiStar from "@components/ImageComponents/ChiStar.astro";
import { CommentForm } from "@components/Comments/CommentForm";
import ChiStarHorizontalRule from "@components/ImageComponents/ChiStarHorizontalRule.astro";
import Comments from "@components/Comments/Comments.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"posts">;
  headings: MarkdownHeading[];
}

const {
  post: {
    slug,
    data: { title, subtitle, date, tags, headerImg, headerImgCaption },
  },
  headings,
} = Astro.props;

const formattedDate = formatDate(date);

const getComments = async () => {
  const commentFiles = await getCollection("comments");
  return commentFiles.find((file) => file.id === slug)?.data.comments || [];
};

const comments = await getComments();

const ogImg = `https://cobra.monster/blog/og/${slug}.png`;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={subtitle} />
  <meta property="og:image" content={ogImg} />
  <title>{title}</title>
</head>

<Layout blog={true}>
  <TopNav />
  <BlogStyleMain>
    <Fragment slot="header">
      <h1 class="font-black text-yellow decoration-4 decoration-white md:text-6xl text-4xl mb-5">{title}</h1>
      <h2 class="text-slate-200 md:text-3xl text-lg font-medium">{subtitle}</h2>
    </Fragment>
    <Fragment slot="aside">
      <div id="publishTags" class="border-t-2 border-slate-200 pb-4">
        <div class="mt-2">
          <div class="md:hidden flex">
            <p class="text-slate-200 text-sm">{"Published"}: {formattedDate}</p>
          </div>
          <div class="md:flex flex-col hidden">
            <h3 class="font-medium text-2xl">{"Published"}</h3>
            <p>{formattedDate}</p>
          </div>
        </div>
        {
          tags && (
            <div class="mt-2 text-sm">
              <TagContents pageUrl="/blog/tagged/" inline={true} tagIds={tags.map((tag) => tag.id)} />
            </div>
          )
        }
      </div>
      <span class="flex justify-around xl:text-3xl">
        <ChiStar /><ChiStar /><ChiStar /><ChiStar />
      </span>
      {headings.length > 0 && <TableOfContents headings={headings} />}
    </Fragment>
    <Fragment slot="main">
      {
        headerImg && (
          <div class="mb-16">
            <Image src={headerImg} alt={`${title} header image`} />
            <em>{headerImgCaption}</em>
          </div>
        )
      }
      <slot />
      <!-- Filtering out "AboutBlurbs" -->
      {headerImg && 
      <ChiStarHorizontalRule />
      <Comments comments={comments} pageUrl={`/blog/${slug}`} />}
    </Fragment>
  </BlogStyleMain>
</Layout>
