---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import TopNav from "@components/TopNav.astro";
import type { MarkdownHeading } from "astro";
import TableOfContents from "@components/TableOfContents.astro";
import TagContents from "@components/TagContents.astro";
import { Image } from "astro:assets";
import { formatDate } from "src/utils/stringFormatters";
import ChiStarRating from "@components/ImageComponents/ChiStarRating.astro";
import Comments from "@components/Comments/Comments.astro";
import BlogAboutMe from "@components/BlogAboutMe.astro";
import ChiStarHorizontalRule from "@components/ImageComponents/ChiStarHorizontalRule.astro";
import { getCollection } from "astro:content";
import BlogStyleMain from "@components/Snippets/BlogStyleMain.astro";

interface Props {
  bookPost: CollectionEntry<"books">;
  headings: MarkdownHeading[];
}

const {
  bookPost: {
    slug,
    data: { title, author, summary, date, rating, cover, bookTags, publishDate },
  },
  headings,
} = Astro.props;

const formattedDate = formatDate(date);

// const displayTags = tags?.map((tag) => tag.id);
const listDecoStyle = "prose-ul:before:text-white";

const ogImg = `https://cobra.monster/books/og/${slug}.png`;

const getComments = async () => {
  const commentFiles = await getCollection("comments");
  return commentFiles.find((file) => file.id === slug)?.data.comments || [];
};

const comments = await getComments();

---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content={`Regal Reviews: ${title}`} />
  <meta property="og:description" content={summary} />
  <meta property="og:image" content={ogImg} />
  <title>Regal Reviews: {title}</title>
</head>

<Layout blog={true}>
  <TopNav />
  <BlogStyleMain>
    <Fragment slot="header">
      <div class="lg:col-start-2 col-span-10 md:mb-10 mb-5">
        <h1 class="font-black text-yellow decoration-4 decoration-white md:text-6xl text-4xl mb-5">{title}</h1>
        <h2 class="text-slate-200 md:text-3xl text-lg font-medium">{summary}</h2>
        <p class="md:hidden flex text-slate-200 text-sm">Finished Reading: {formattedDate}</p>
      </div>
      {
        (bookTags || headings.length > 0) && (
          <aside class="text-slate-200 md:hidden block">
            {bookTags && (
              <div class="flex mb-8">
                <TagContents pageUrl="/blog/default/tagged/" tagIds={bookTags.map((tag) => tag.id)} />
              </div>
            )}
            <div class="border-t-4 border-slate-200">{headings.length > 0 && <TableOfContents headings={headings} />}</div>
          </aside>
        )
      }
    </Fragment>

      <Fragment slot="aside">
        <div id="publishTags" class="border-b-2 border-slate-200 pb-4">
          <div class="py-2 border-b-4 border-slate-200">
            <h3 class="font-medium text-2xl">Author</h3>
            <p class="text-slate-200 mb-2">{author}</p>
            {publishDate && <h3 class="font-medium text-2xl">Published</h3>
            <p class="text-slate-200 mb-2">{publishDate}</p>}
          </div>
          <div class="mt-2">
            <h3 class="font-medium text-2xl mt-2">Rating</h3>
            <div class="text-slate-200 my -2 flex"><ChiStarRating rating={rating} isYellow={true} /></div>
            <h3 class="font-medium text-2xl">Review Date</h3>
            <p class="text-slate-200 mb-2">{formattedDate}</p>
            
          </div>
          {
            bookTags && (
              <div class="mt-2 text-sm">
                <TagContents pageUrl="/books/default/tagged/" inline={true} tagIds={bookTags.map((tag) => tag.id)} />
              </div>
            )
          }
        </div>
        {headings.length > 0 && <TableOfContents headings={headings} />}
      </Fragment>

      <Fragment slot="main"
        
      >
        <div class="not-prose max-w-[50%] my-5">
          <Image src={cover} alt={`${title} Book Cover`} />
        </div>
        <slot />
        <ChiStarHorizontalRule />
        <Comments comments={comments} pageUrl={`/books/${slug}`} />
        
      </Fragment>
    </>
  </>
  </BlogStyleMain>
</Layout>
